.checkbox-symbol {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}

.checkbox-container {
  display: inline-block;
  box-sizing: border-box;
  background: #ffffff;
  color: #222;
  flex-flow: row wrap;

  * {
    box-sizing: border-box;
  }
  .checkbox-input {
    position: absolute;
    visibility: hidden;

    &:checked + .checkbox span {
      background: #2e2e2e;
      border-color: #1e1e1e;
      animation: zoom-in-out 0.3s ease;

      svg {
        stroke-dashoffset: 0;
      }
    }
  }
  .checkbox {
    user-select: none;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.3s ease;
    display: flex;

    span {
      vertical-align: middle;
      transform: translate3d(0, 0, 0);
      position: relative;
      flex: 0 0 18px;
      width: 18px;
      height: 18px;
      border-radius: 4px;
      transform: scale(1);
      border: 1px solid #1e1e1e;
      transition: all 0.3s ease;

      svg {
        position: absolute;
        top: 3px;
        left: 2px;
        fill: none;
        stroke: #fff;
        stroke-dasharray: 16px;
        stroke-dashoffset: 16px;
        transition: all 0.3s ease;
        transform: translate3d(0, 0, 0);
      }
    }

    &:hover {
      background: #1e1e1e14;

      span {
        border-color: #1e1e1e;
      }
    }
  }
}

@keyframes zoom-in-out {
  50% {
    transform: scale(0.9);
  }
}
